@use "../../utils" as *;

.coursebenefits {
  max-width: 95%;
  margin: 0 auto;
  @include breakpoint-down(medium) {
    padding: 30px 0 0;
    max-width: 100%;
  }
  .clip-background {
    background-color: #000;
    clip-path: polygon(0 0, 100% 0, 98% 50%, 100% 100%, 0 100%, 2% 50%);

    @include breakpoint-down(medium) {
      margin: 0 20px;
    }
  }

  h1 {
    color: #ffffff;
    padding: 15px;
    font-family: var(--font-questrial);
    font-size: rem(46);

    @include breakpoint-down(medium) {
      font-size: rem(24);
      padding: 10px;
    }
  }

  .benefitboxs {
    width: 88%;
  }
}
