:root {
  --dark-red1: #e81038;
  --dark-red2: #d80537;
  --dark-red3: #e21c21;
  --dark-red4: #f01313;
  --dark-red5: rgb(216, 5, 63);
  --light-red: rgb(255, 64, 64);
  --orange: #ff5937;
  --yellow: rgba(255, 230, 143);
  --dark-yellow: #e8b917;
  --btn-left: #ff4f4f;
  --btn-right: #1d2cf3;
  --font-noticia: "Noticia Text", serif;
  --font-cookie: "cookie", cursive;
  --font-questrial: "questrial", sans-serif;
  --font-anton: "anton", sans-serif;
}
